/* Mastercard Flip Card */
.card-mastercard {
  background-color: transparent;
  width: 240px;
  height: 154px;
  perspective: 1000px;
  color: white;
}

.card-mastercard .heading_8264 {
  position: absolute;
  letter-spacing: .2em;
  font-size: 0.5em;
  top: 2em;
  left: 18.6em;
}

.card-mastercard .logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.card-mastercard .chip {
  position: absolute;
  top: 2.3em;
  left: 1.5em;
}

.card-mastercard .contactless {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}

.card-mastercard .number {
  position: absolute;
  font-weight: bold;
  font-size: .6em;
  top: 8.3em;
  left: 1.6em;
}

.card-mastercard .valid_thru {
  position: absolute;
  font-weight: bold;
  top: 635.8em;
  font-size: .01em;
  left: 140.3em;
}

.card-mastercard .date_8264 {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 13.6em;
  left: 3.2em;
}

.card-mastercard .name {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 16.1em;
  left: 2em;
}

.card-mastercard .strip {
  position: absolute;
  background-color: black;
  width: 15em;
  height: 1.5em;
  top: 2.4em;
  background: repeating-linear-gradient(
    45deg,
    #303030,
    #303030 10px,
    #202020 10px,
    #202020 20px
  );
}

.card-mastercard .mstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 8em;
  height: 0.8em;
  top: 5em;
  left: .8em;
  border-radius: 2.5px;
}

.card-mastercard .sstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 4.1em;
  height: 0.8em;
  top: 5em;
  left: 10em;
  border-radius: 2.5px;
}

.card-mastercard .code {
  font-weight: bold;
  text-align: center;
  margin: .2em;
  color: black;
}

.card-mastercard .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-mastercard:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.card-mastercard .flip-card-front, .card-mastercard .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.card-mastercard .flip-card-front {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
}

.card-mastercard .flip-card-back {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
  transform: rotateY(180deg);
}

/* Gold Flip Card */
.card-gold {
  background-color: transparent;
  width: 240px;
  height: 154px;
  perspective: 1000px;
  color: white;
}

.card-gold .heading_8264 {
  position: absolute;
  font-size: 1em;
  top: 0.75em;
  left: 1em;
  font-weight: 600;
  text-shadow: -0.2px -0.2px 0.2px white, 0.2px -0.2px 0.2px gray,
    -0.2px 0.2px 0.2px white, 0.2px 0.2px 0.2px gray;
}

.card-gold .logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.card-gold .chip {
  position: absolute;
  top: 2.3em;
  left: 1.5em;
}

.card-gold .contactless {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}

.card-gold .number {
  position: absolute;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.75em;
  top: 7em;
  left: 1.5em;
}

.card-gold .date_8264 {
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  top: 9em;
  left: 1.5em;
  letter-spacing: 2px;
}

.card-gold .cvc_number {
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  top: 9em;
  left: 8.5em;
  letter-spacing: 2px;
}

.card-gold .cvc {
  position: absolute;
  font-weight: 600;
  font-size: 5px;
  top: 6.9rem;
  left: 8rem;
}

.card-gold .exp {
  position: absolute;
  font-weight: 600;
  font-size: 5px;
  top: 6.9rem;
  left: 3.8rem;
}

.card-gold .name {
  position: absolute;
  font-weight: 400;
  font-size: 8.5px;
  top: 15em;
  left: 2em;
  color: #bea35c;
}

.card-gold .strip {
  position: absolute;
  background-color: white;
  width: 15em;
  height: 2.25em;
  top: 0;
  border-radius: 1rem 1rem 0 0;
}

.card-gold .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-gold:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.card-gold .flip-card-front,
.card-gold .flip-card-back {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.card-gold .flip-card-front {
  background: linear-gradient(135deg, #edcb78, #f7e4b2, #fee08b);
  border: 1px solid white;
}

.card-gold .flip-card-back {
  background: linear-gradient(135deg, #fee08b, #f7e4b2, #edcb78);
  transform: rotateY(180deg);
}
